*{
  margin: 0;
  padding: 0;
  font-family: monospace;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  background: #080808;
  color: #fff;
}

#header{
  width: 100%;
  height: 100vh;
  background-image: url(images/good1.jpg);
  background-size: cover;
  background-position: center;
}
.container{
  padding: 10px 10%;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}
.logo{
  width: 90px;
  height: 50px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a::after{
  content: '';
  width: 0%;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after{
  width: 100%;
}
.header-text h1{
  font-size: 60px;
  margin-top: 20px;
}
.header-text h1 span{
  color: #ff004f;
}

#slidemenu{
  background-color: #000000a3;
  width: 55%;
}
/*-------------------------------------About-----------------------------------*/
.about{
  padding: 80px 0;
  color: #ababab;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1{
  flex-basis: 35%;
}
.about-col-1 img{
  width: 100%;
  border-radius: 15%;
}
.about-col-2{
  flex-basis: 60%;
}
.sub-title{
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  text-align: center;
}
.tab-titles{
  display: flex;
  margin:20px 0 40px;
}
.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;}
.tab-links.active-link::after{
  width: 50%;
}
.tab-contents ul li{
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span{
  color: #b54769;
  font-size: 14px;
}
.tab-contents{
  display: none;
}
.tab-contents.active-tab{
  display: block;
}

/*-----------------------------services----------------------------*/
#services{
  padding: 30px 0;
  text-align: center;
}

.services_options{
  height: 40vh;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  margin-top: 2rem;
}


.sale_of_cars, .maitainance_of_vehicle, .sale_of_parts{
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;
  align-items: center;
  height: 35vh;
  background:#696969;
  border-radius: 2rem;
  line-height: 25px;


}


/* This is the styling for the SUB SECTION OF THE ABOUT ME */

.tab-titles{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin:20px 0 40px;
}

.tab-titles p{
  cursor: pointer;
  font-size: 2rem;
}



li{
  list-style: none;
}

#Skill_text, #Experience_text, #Education_text{
  display: none;
  text-align: center;

}

.hide{
  display: none;
}

/* This is the styling for My portfolio*/
#portfolio{
  padding: 50px 0;
}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work{
  border-radius: 10px;
  position:relative;
  overflow:hidden;
}
.work img{
  width: 85%;
  border-radius: 10px;
  display: block;
 
}
.layer{
  background: linear-gradient(rgba(0,0,0,.5), #ff004f);
  border-radius: 10xp;
  position: relative;
  left:0;
  bottom:0;
  overflow:hidden ;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  /* transition: height 0.5s; */
}
.work :hover{
  transition:width 3s;
  background: #ff004f;
  width: 300px;
}

/* contacts*/
.contact-right{
  margin-left: 50%;
  margin-bottom: 10%;
}

.contact-left{
  flex-basis: 35%;
}

.contact-right{
  flex-basis: 60%;
}
.contact-left p{
margin-top: 30px;
}
.contact-left p i{
  color: #ff004f;
  margin-right: 15;
  font-size: 25px;
}
.social-icons{
  margin-top: 30px;
}
.social-icons a{
  text-decoration: none;
  font-size: 30xp;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition:trasform 0.5s ;
}
.social-icons a:hover{
  color: #ff004f;
  transform: translateY(-5px);
}
.title{
  margin-right: 60%;
  margin-top: 3%;
}

.btn.btn2{
  display: inline-block;
  background: #ff004f;
  text-decoration: none;
  color: #fff;
  border-radius: 2px;
  margin-top: 25px;
  margin-left: 5px;
}
form input,form textarea{
width: 100%;
border: 0;
outline: none;
background: #262626;
padding: 15px;
margin: 15px 0;
color: #fff;
font-size: 18px;
border-radius: 6px;
}
.contact-right{
margin-right: 20px;
}

.copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 5px;
}

.copyright i{
  color: #ff004f;
}

.fas{
  display: none;
}

nav svg{
  width: 5vw;
  height: 5vh;
  display: none;
}

/* css for small screen */

@media only screen and (max-width:600px){
  .header-text h1{
    margin-top: 10%;
    font-size: 35px;
  }

  .fas{
    display: block;
    font-size: 25px;
  }

  nav svg{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  #slidemenu{
    width: 30%;
  }

  nav ul{
    background: #ff004f;
    position: absolute;
    top: 0vh;
    right: 0;
    height: 40vh;
    display: none;
  }
  nav ul li{
    display: block;
    margin: 25px;
  }
  nav ul .fas{
    position: absolute;
    top:25px;
    left: 25px;
    cursor: pointer;
  }
  .sub-title{
    font-size: 40px;
  }
  .about-col-1,.about-col-2{
    flex-basis: 100%;
  }
  .sale_of_cars, .maitainance_of_vehicle, .sale_of_parts{
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
  background:#696969;
  border-radius: 2rem;
  line-height: 25px;
  width: 33%;
  }
  #services{
    padding: 40px 0;
    text-align: center;}
  
  
/************** css for small screen services ************************/
  .services{
    margin-top: 3%;
    font-size: 35px;
    display: block;
  }
  .services_options{
    padding-top: 50px;
  }
  /************** css for small screen contacts ************************/
  .contact-left,.contact-left{
    flex-basis: 100%;

  }
  .title{
    margin-left: 10%;
  }
  p{
    margin-left: 10px;
  }
  .social-icons{
    margin-left: 10%;
  }
  .btn btn2{
    margin-right: 10%;
  }
  .copyright{
    font-size: 14px;
  }
}
